.desktop {
    background-color: #0c1820;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #0c1820;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .overlap {
    position: relative;
    width: 1602px;
    height: 1058px;
    left: -116px;
  }
  
  .desktop .group {
    position: absolute;
    width: 1442px;
    height: 1038px;
    top: 0;
    left: 116px;
  }
  
  .desktop .overlap-group {
    position: relative;
    width: 1440px;
    height: 1038px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #0c1820;
  }
  
  .desktop .img {
    position: absolute;
    width: 1345px;
    height: 954px;
    top: 70px;
    left: 95px;
  }
  
  .desktop .div {
    position: absolute;
    width: 342px;
    height: 878px;
    top: 146px;
    left: 1098px;
    background: linear-gradient(
        351deg,
        rgba(9, 19, 24, 1) 100%,
        rgba(12, 25, 33, 1) 100%
      ),
      linear-gradient(
        0deg,
        rgba(217, 217, 217, 1) 0%,
        rgba(217, 217, 217, 1) 100%
      );
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 342px;
    height: 969px;
    top: 69px;
    left: 94px;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(
        351deg,
        rgba(9, 19, 24, 1) 100%,
        rgba(12, 25, 33, 1) 100%
      ),
      linear-gradient(
        0deg,
        rgba(217, 217, 217, 1) 0%,
        rgba(217, 217, 217, 1) 100%
      );
  }
  
  .desktop .rectangle-3 {
    position: absolute;
    width: 1004px;
    height: 77px;
    top: 69px;
    left: 436px;
    background-color: #070e12;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    top: 96px;
    left: 765px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .user-profile {
    position: absolute;
    width: 425px;
    height: 71px;
    top: 942px;
    left: 6px;
    background-color: #d9d9d933;
    border-radius: 15px;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 1602px;
    height: 1047px;
    top: 11px;
    left: 0;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 18px;
    left: 802px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 630px;
    height: 444px;
    top: 149px;
    left: 570px;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    top: 64px;
    left: 19px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 11px;
    left: 19px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .mid {
    position: absolute;
    width: 630px;
    height: 444px;
    top: 0;
    left: 0;
  }
  
  .desktop .rectangle-4 {
    position: absolute;
    width: 630px;
    height: 39px;
    top: 0;
    left: 0;
    background-color: #d9d9d933;
    border-radius: 10px;
  }
  
  .desktop .line {
    top: 98px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .line-2 {
    top: 156px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .line-3 {
    top: 218px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .line-4 {
    top: 272px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .line-5 {
    top: 330px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .line-6 {
    top: 392px;
    position: absolute;
    width: 630px;
    height: 1px;
    left: 0;
  }
  
  .desktop .group-3 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 107px;
    left: 19px;
  }
  
  .desktop .image {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .group-4 {
    position: absolute;
    width: 166px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 18px;
    left: 0;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-group-wrapper {
    position: absolute;
    width: 22px;
    height: 19px;
    top: 13px;
    left: 550px;
  }
  
  .desktop .overlap-group-2 {
    position: relative;
    width: 21px;
    height: 15px;
    left: 2px;
  }
  
  .desktop .ellipse {
    width: 20px;
    height: 15px;
    top: 0;
    left: 1px;
    border-radius: 10px / 7.5px;
    position: absolute;
    background-color: #d9d9d9;
  }
  
  .desktop .polygon {
    position: absolute;
    width: 14px;
    height: 12px;
    top: 3px;
    left: 0;
  }
  
  .desktop .group-5 {
    position: absolute;
    width: 2px;
    height: 10px;
    top: 16px;
    left: 587px;
  }
  
  .desktop .ellipse-2 {
    width: 2px;
    height: 2px;
    top: 0;
    left: 0;
    border-radius: 1px;
    position: absolute;
    background-color: #d9d9d9;
  }
  
  .desktop .ellipse-3 {
    width: 2px;
    height: 2px;
    top: 4px;
    left: 0;
    border-radius: 1px;
    position: absolute;
    background-color: #d9d9d9;
  }
  
  .desktop .ellipse-4 {
    width: 2px;
    height: 2px;
    top: 8px;
    left: 0;
    border-radius: 1px;
    position: absolute;
    background-color: #d9d9d9;
  }
  
  .desktop .group-6 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 165px;
    left: 19px;
  }
  
  .desktop .group-7 {
    position: absolute;
    width: 187px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-8 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 223px;
    left: 19px;
  }
  
  .desktop .group-9 {
    position: absolute;
    width: 101px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-10 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 281px;
    left: 20px;
  }
  
  .desktop .group-11 {
    position: absolute;
    width: 137px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-12 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 339px;
    left: 20px;
  }
  
  .desktop .group-13 {
    position: absolute;
    width: 118px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-14 {
    position: absolute;
    width: 589px;
    height: 43px;
    top: 401px;
    left: 20px;
  }
  
  .desktop .group-15 {
    position: absolute;
    width: 104px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .overlap-3 {
    position: absolute;
    width: 538px;
    height: 934px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-4 {
    position: absolute;
    width: 308px;
    height: 217px;
    top: 75px;
    left: 230px;
  }
  
  .desktop .text-wrapper-7 {
    top: 194px;
    left: 295px;
    position: absolute;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-8 {
    position: absolute;
    top: 102px;
    left: 23px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    top: 147px;
    left: 23px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .navbar {
    position: absolute;
    width: 308px;
    height: 212px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-5 {
    position: absolute;
    width: 302px;
    height: 38px;
    top: 0;
    left: 0;
    border-radius: 12px;
  }
  
  .desktop .p {
    position: absolute;
    top: 10px;
    left: 43px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rectangle-5 {
    position: absolute;
    width: 302px;
    height: 38px;
    top: 0;
    left: 0;
    background-color: #d9d9d926;
    border-radius: 12px;
  }
  
  .desktop .overlap-6 {
    position: absolute;
    width: 302px;
    height: 38px;
    top: 51px;
    left: 0;
    border-radius: 12px;
  }
  
  .desktop .text-wrapper-10 {
    position: absolute;
    top: 9px;
    left: 23px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-11 {
    position: absolute;
    top: 194px;
    left: 23px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-7 {
    position: absolute;
    width: 468px;
    height: 934px;
    top: 0;
    left: 0;
  }
  
  .desktop .server-list {
    position: absolute;
    width: 62px;
    height: 636px;
    top: 0;
    left: 132px;
  }
  
  .desktop .image-2 {
    width: 62px;
    height: 62px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-3 {
    width: 62px;
    height: 62px;
    top: 328px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-4 {
    width: 62px;
    height: 62px;
    top: 82px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-5 {
    width: 62px;
    height: 62px;
    top: 410px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-6 {
    width: 62px;
    height: 62px;
    top: 164px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-7 {
    width: 62px;
    height: 62px;
    top: 492px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-8 {
    width: 62px;
    height: 62px;
    top: 246px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-9 {
    width: 62px;
    height: 62px;
    top: 574px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .direct-messag {
    position: absolute;
    width: 468px;
    height: 573px;
    top: 361px;
    left: 0;
  }
  
  .desktop .group-16 {
    position: absolute;
    width: 157px;
    height: 43px;
    top: 530px;
    left: 254px;
  }
  
  .desktop .group-17 {
    position: absolute;
    width: 111px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 254px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-8 {
    position: absolute;
    width: 466px;
    height: 165px;
    top: 44px;
    left: 0;
  }
  
  .desktop .group-18 {
    position: absolute;
    width: 466px;
    height: 165px;
    top: 0;
    left: 0;
  }
  
  .desktop .image-10 {
    width: 43px;
    height: 43px;
    top: 62px;
    left: 254px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-11 {
    width: 43px;
    height: 43px;
    top: 0;
    left: 254px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-12 {
    width: 43px;
    height: 43px;
    top: 122px;
    left: 254px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .image-13 {
    width: 43px;
    height: 43px;
    top: 72px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .group-19 {
    position: absolute;
    width: 166px;
    height: 31px;
    top: 4px;
    left: 304px;
  }
  
  .desktop .group-wrapper {
    position: absolute;
    width: 75px;
    height: 31px;
    top: 65px;
    left: 304px;
  }
  
  .desktop .group-20 {
    position: relative;
    width: 79px;
    height: 31px;
  }
  
  .desktop .div-wrapper {
    position: absolute;
    width: 97px;
    height: 31px;
    top: 126px;
    left: 304px;
  }
  
  .desktop .group-21 {
    position: relative;
    width: 101px;
    height: 31px;
  }
  
  .desktop .group-22 {
    position: absolute;
    width: 183px;
    height: 43px;
    top: 225px;
    left: 254px;
  }
  
  .desktop .group-23 {
    position: absolute;
    width: 192px;
    height: 43px;
    top: 408px;
    left: 254px;
  }
  
  .desktop .group-24 {
    position: absolute;
    width: 146px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-25 {
    position: absolute;
    width: 164px;
    height: 43px;
    top: 286px;
    left: 254px;
  }
  
  .desktop .group-26 {
    position: absolute;
    width: 169px;
    height: 43px;
    top: 469px;
    left: 254px;
  }
  
  .desktop .group-27 {
    position: absolute;
    width: 123px;
    height: 31px;
    top: 6px;
    left: 50px;
  }
  
  .desktop .group-28 {
    position: absolute;
    width: 150px;
    height: 43px;
    top: 347px;
    left: 254px;
  }
  
  .desktop .text-wrapper-13 {
    top: 361px;
    left: 526px;
    position: absolute;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .navbar-2 {
    position: absolute;
    width: 621px;
    height: 18px;
    top: 85px;
    left: 588px;
  }
  
  .desktop .text-wrapper-14 {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-15 {
    left: 115px;
    position: absolute;
    top: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-16 {
    left: 222px;
    position: absolute;
    top: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-17 {
    left: 409px;
    position: absolute;
    top: 0;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-18 {
    position: absolute;
    top: 0;
    left: 533px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-19 {
    position: absolute;
    top: 147px;
    left: 1240px;
    font-family: "Raleway-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-20 {
    position: absolute;
    top: 945px;
    left: 196px;
    font-family: "Raleway-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-21 {
    top: 967px;
    left: 196px;
    font-size: 12px;
    position: absolute;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-22 {
    position: absolute;
    top: 967px;
    left: 286px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .overlap-9 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 182px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .image-14 {
    width: 43px;
    height: 43px;
    top: 6px;
    left: 12px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-23 {
    top: 12px;
    left: 62px;
    position: absolute;
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-24 {
    position: absolute;
    top: 30px;
    left: 62px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-25 {
    position: absolute;
    top: 73px;
    left: 80px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rectangle-6 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 0;
    left: 0;
    background-color: #51515133;
    border-radius: 15px;
  }
  
  .desktop .rectangle-7 {
    position: absolute;
    width: 296px;
    height: 69px;
    top: 60px;
    left: 10px;
    background-color: #51515133;
    border-radius: 15px;
  }
  
  .desktop .image-15 {
    width: 46px;
    height: 46px;
    top: 71px;
    left: 22px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .overlap-10 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 327px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .overlap-11 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 472px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .overlap-12 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 617px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .overlap-13 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 762px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .overlap-14 {
    position: absolute;
    width: 316px;
    height: 140px;
    top: 907px;
    left: 1228px;
    border-radius: 15px;
  }
  
  .desktop .image-16 {
    width: 46px;
    height: 35px;
    top: 71px;
    left: 22px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .group-29 {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 945px;
    left: 140px;
  }
  
